<app-header></app-header>
<div class="filter-sort-container">
  <div class="filter-dropdown">
    <button class="dropdown-button">Filter</button>
    <div class="dropdown-content">
      <button (click)="onFilterCategory('')">All</button>
      <button
        *ngFor="let category of categories$ | async"
        (click)="onFilterCategory(category)"
      >
        {{ category }}
      </button>
    </div>
  </div>
  <div class="sort-dropdown">
    <button class="dropdown-button">Sort</button>
    <div class="dropdown-content">
      <button (click)="onSort('asc')">Price: Low to High</button>
      <button (click)="onSort('desc')">Price: High to Low</button>
    </div>
  </div>
</div>
<div class="product-grid">
  <app-product-card
    *ngFor="let product of filteredProducts$ | async; trackBy: trackByProductId"
    [product]="product"
  >
  </app-product-card>
</div>
