/* Variables */
$font-family: 'DM Sans', sans-serif;
$background-color-body: #f5f9ff;
$background-color-white: #ffffff;
$text-color-dark: #333;
$text-color-muted: #666;
$text-color-light: #777;
$primary-color: #3f8cfe;
$secondary-color: #e8f1fc;
$accent-color: #e63946;
$hover-background-color: #f1f1f1;
$border-color: #dce4ed;
$box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.05);
$box-shadow-heavy: 0 4px 8px rgba(0, 0, 0, 0.1);
$padding-standard: 15px;
$border-radius: 8px;
$grid-gap: 20px;
$input-padding: 10px 0;
$input-max-width: 70%;
$container-max-height: 1000px;
$font-size-large: 35px;
$font-size-medium: 18px;
$font-size-small: 16px;
$font-size-xsmall: 14px;
$margin-xsmall: 5px;
$margin-small: 10px;
$margin-medium: 15px;
$margin-large: 30px;
$avatar-size: 120px;
$brand-color-1: #018fc7;
$brand-color-2: #83c0df;

* {
  font-family: $font-family;
}
.admin-dashboard-container {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: $grid-gap;
  background-color: $background-color-body;
  padding: $padding-standard;
  margin: 0 auto;
  margin-bottom: 0;
  width: 100%;
  box-sizing: border-box;

  .sidebar {
    max-height: $container-max-height;
    overflow-y: auto;
    background-color: $background-color-white;
    padding: $padding-standard;
    border-radius: $border-radius + 4px;
    box-shadow: $box-shadow-light;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: $padding-standard;

    .brand {
      font-size: $font-size-large;
      font-weight: bold;
      color: $text-color-dark;
      display: flex;
      align-items: center;
      margin-bottom: $margin-large;
      color: $brand-color-1;

      .navbar__highlight {
        color: $brand-color-2;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 0;

      li {
        margin: $margin-medium 0;

        a {
          text-decoration: none;
          color: $text-color-dark;
          font-size: $font-size-small;
          display: block;
          padding: $padding-standard 0;
          border-radius: $border-radius;
          padding-left: $padding-standard;

          &:hover {
            background-color: $secondary-color;
            color: $primary-color;
          }

          &.active {
            color: $primary-color;
            font-weight: 700;
          }
        }
      }
    }

    .sign-out {
      border: none;
      background-color: $background-color-white;
      text-align: left;
      text-decoration: none;
      color: $accent-color;
      font-size: $font-size-small;
      display: block;
      padding: $padding-standard 0;
      border-radius: $border-radius;
      padding-left: $padding-standard;

      &:hover {
        background-color: lighten($accent-color, 40%);
        color: $accent-color;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: $grid-gap;

    .stats-section {
      h2 {
        font-size: $font-size-large;
        color: $text-color-dark;
      }

      p {
        font-size: $font-size-small;
        color: $text-color-muted;
        margin-bottom: $margin-large;
      }

      .stats-cards {
        display: flex;
        gap: $margin-medium;

        .card {
          background-color: $background-color-white;
          box-shadow: $box-shadow-light;
          padding: $padding-standard;
          border-radius: $border-radius;
          flex: 1;
          text-align: center;
          font-size: $font-size-medium;
        }
      }
    }

    .charts-section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(150px, auto);
      gap: $grid-gap;
      flex: 1;

      .chart {
        background-color: $background-color-white;
        box-shadow: $box-shadow-light;
        border-radius: $border-radius;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        // padding: $padding-standard;
        overflow: hidden;
        position: relative;
      }

      .chart-1 {
        grid-column: span 1.5;
        max-width: 600px;
      }

      .chart-2 {
        grid-column: span 1;
        max-height: 200px;
      }

      .chart-3 {
        grid-column: span 1;
        max-height: 200px;
      }

      .chart-4 {
        grid-column: span 1;
        max-width: 600px;
      }

      img {
        width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: contain;
        border-radius: $border-radius;
      }
    }
  }
}
