// $background-color-body: #f5f9ff;
// $background-color-white: #ffffff;
// $text-color-dark: #333;
// $text-color-muted: #666;
// $text-color-light: #777;
// $primary-color: #3f8cfe;
// $secondary-color: #e8f1fc;
// $accent-color: #e63946;
// $hover-background-color: #f1f1f1;
// $border-color: #dce4ed;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

.footer-container {
  background-color: #f8f4ee;
  // background-color: #f5f9ff;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
  width: 100%;
  margin-right: 0px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.footer-logo {
  margin-bottom: 20px;

  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  .highlight {
    color: #ff8c00;
  }
}

.footer-links {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

  a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    transition: color 0.3s;

    &:hover {
      color: #ff8c00;
    }
  }
}

.footer-subscribe {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  input {
    padding: 10px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    font-size: 16px;
  }

  .subscribe-button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #ff8c00;
    }
  }
}

.footer-copyright {
  font-size: 14px;
  color: #333;
}
