<div class="user-settings-container">
  <div class="sidebar">
    <ul>
      <li><a href="#">User Profile</a></li>
      <li><a href="#">Orders</a></li>
      <li><a href="#">Subscriptions</a></li>
      <li><a href="#">Address</a></li>
      <li><a href="#">Payments</a></li>
      <li><a href="#">Wishlist</a></li>
    </ul>
    <button class="sign-out" (click)="onSignOut()">Sign out</button>
  </div>

  <div class="cards">
    <h2>User profile</h2>
    <p>Manage your details, view your information, and change your password.</p>
    <div class="content">
      <div class="profile-section">
        <div
          class="image-container"
          (mouseenter)="onHoverImage()"
          (mouseleave)="onLeaveImage()"
        >
          <img [src]="profileImage$ | async" alt="User Avatar" class="avatar" />
          <div *ngIf="isImageHovered" class="dropdown-menu">
            <button (click)="onUploadClick()">Change Picture</button>
            <button *ngIf="!isDefaultImage()" (click)="onDeleteImage()">
              Delete Picture
            </button>
          </div>
        </div>
        <input
          type="file"
          id="imageUpload"
          #imageUpload
          (change)="onImageChange($event)"
          hidden
        />
        <h3>
          {{ userForm.get('firstName')?.value }}
          {{ userForm.get('lastName')?.value }}
        </h3>
        <p>{{ userForm.get('phoneNumber')?.value }}</p>
      </div>

      <div class="general-info">
        <h3>General information</h3>
        <div class="name-display">
          <div class="name-container">
            <div class="form-group">
              <label>First name</label>
              <div>{{ userForm.get('firstName')?.value }}</div>
            </div>
          </div>
          <div class="name-container">
            <div class="form-group">
              <label>Last name</label>
              <div>{{ userForm.get('lastName')?.value }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="security-section">
        <h3>Security</h3>
        <form [formGroup]="userForm">
          <div class="security-display">
            <div class="security-container">
              <div class="form-group">
                <label for="email">Email</label>
                <div>{{ userForm.get('email')?.value }}</div>
              </div>
            </div>
            <div class="security-container">
              <div class="form-group">
                <label for="password"
                  >Password <i class="fa-solid fa-pen-to-square"></i
                ></label>
                <input type="text" id="password" formControlName="password" />
              </div>
            </div>
            <div class="security-container">
              <div class="form-group">
                <label for="phone">Phone number</label>
                <input type="tel" id="phone" formControlName="phoneNumber" />
              </div>
            </div>
            <div class="security-buttons">
              <button class="update-security-button" (click)="onSaveChanges()">
                Update
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
